body{
    margin: 0;
    text-align: center;
    font-size: 18px;
}
p{
    color: #40514E;

}
h1{
    font-size: 5.625rem;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66BFBF;
    font-size: 2.0rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #D3D3D3;
    border-width: 7px;
    width: 5%;
    }

/****************************************class selectors************************************************/
.top-container{
    background-color: #E4F9F5;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    padding-top: 6%;
}
.middle-container{

}
.bottom-container{
    margin-top: 20px;
    line-height: 2;
    background-color: #66BFBF;
    padding: 40px 0 20px 0;
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 27%;   
    top: 3%;
    width: 7.5rem;
}
.bottom-cloud{
    position: absolute;
    left: 27%;
    bottom: 37%;
    width: 7.5rem;
}
.coding{
    width: 27%;
    float: left;
    margin-right: 7%;
}
.gaming{
    width: 27%;
    float: right;
    margin-left: 7%;
}
.pfp{
    border-radius: 100%;
    width: 200px;
    height: auto;
}
.skill-row{
    width: 50%;
    margin: 60px auto 100px auto;
    line-height: 2;
    text-align: left;
}
.profile{
    margin: 80px auto 50px auto;

}